@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*all tasks*/
#task_list_area{
    display: flex;
    justify-content: center;
}
#tasks_list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0px;
    background-color: #b8eef7;
    height: 480px;
    width: 960px;
    flex-direction: column;
    border-radius: 12px;
}
#task_element{
    display: flex;
    justify-content: center;

    margin: 16px;
    list-style: "none";
    font-size: 48px;
}
#task_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#task_text{
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    min-width: 480px;
    max-width: 480px;
    margin-left: 12px;
}
#importance_tag{
    background-color: #5084C1;
    text-align: center;
    border-radius: 12px;
    padding-right: 12px;
    padding-left: 12px;
    min-width: 168px;
    max-width: 168px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
}
#task_importance{
    height: 28px;
    width: 84px; 
    text-decoration: solid;
}
#new_task{
    border-radius: 8px;
    height: 24px;
    width: 360px;
    border-color: #5084C1;
    font-family: "Jua", sans-serif;
}
#img_send{
    height: 64px;
    width: 84px;
}
#task_importance{
    margin-right: 12px;
    border-radius: 8px;
    background-color: #5084C1;
    font-family: "Jua", sans-serif;
}
#input{
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    display: flex;
    justify-content: left;
    margin-bottom: 48px;
}