@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#task_list_area{
    display: flex;
    justify-content: center;
}
#tasks_list{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    background-color: beige;
    height: 480px;
    width: 960px;
    flex-direction: column;
}
#task_element{
    display: flex;
    justify-content: center;

    margin: 16px;
    list-style: "none";
    font-size: 48px;
}
#task_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#task_text{
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    min-width: 480px;
    max-width: 480px;
}
#new_task{
    border-radius: 8px;
    height: 24px;
    width: 360px;
    border-color: #5084C1;
    border-style: dashed;
}
#add_task{
    display: flex;
    align-items: center;
    height: 34px;
    width: 96px;
    border-radius: 8px;
    margin-left: 24px;
    background-color: #c7d0db;
}
#input{
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    display: flex;
    justify-content: left;
    margin-bottom: 48px;
}